	<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ pageTitle }}</title>
</head>
<body>

	{{> head }}
	<h2>{{ scream_it welcomeMessage }}</h2>
	<p>Seme text here</p>

	{{> footer }}
</body>
</html>